apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namespace: litomi-prod

resources:
  - ../../base
  - ingress.yaml

configMapGenerator:
  - name: litomi-public-env
    literals:
      - NEXT_PUBLIC_BACKEND_URL=https://api.litomi.in
      - NEXT_PUBLIC_CANONICAL_URL=https://litomi.in
      - NEXT_PUBLIC_CORS_PROXY_URL=https://image.gwak2837.workers.dev
      - NEXT_PUBLIC_EXTERNAL_API_PROXY_URL=https://vercel.litomi.in
      - NEXT_PUBLIC_GA_ID=G-9DQ11LVVNJ
      - NEXT_PUBLIC_IOS_TESTFLIGHT_URL=
      - NEXT_PUBLIC_SENTRY_DSN=https://40e7a8fce2e957f313b4bbe7b9c46a2e@o4506216356511744.ingest.us.sentry.io/4508939892097024
      - NEXT_PUBLIC_TURNSTILE_SITE_KEY=0x4AAAAAAB0XpySA9SHK_Nuy
      - NEXT_PUBLIC_VAPID_PUBLIC_KEY=BCQA2zloAhzL0J3hjB7RTBj9uoG3ZR6elL2kJlrbwZRKw5f4sap5g8AyUsnuDpU49fODsI8icA4o6mu42GmjD3A

  - name: litomi-backend-env
    literals:
      - CORS_ORIGIN=https://litomi.in
      - REDIS_URL=redis://redis:6379

images:
  - name: litomi-web
    newTag: prod
  - name: litomi-backend
    newTag: prod

patches:
  # Base가 Namespace `litomi`를 만들도록 되어 있어서, prod에서는 이름만 바꿔서 재사용해요.
  - target:
      kind: Namespace
      name: litomi
    patch: |-
      - op: replace
        path: /metadata/name
        value: litomi-prod
