apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namespace: litomi-stg

resources:
  - ../../base
  - ingress.yaml

configMapGenerator:
  - name: litomi-public-env
    envs:
      - public.env.kv

  - name: litomi-common-env
    literals:
      - REDIS_URL=redis://redis:6379

  - name: litomi-backend-env
    literals:
      - CORS_ORIGIN=https://stg.litomi.in

images:
  - name: litomi-web
    newName: ghcr.io/gwak2837/litomi-web
    newTag: stage
  - name: litomi-backend
    newName: ghcr.io/gwak2837/litomi-backend
    newTag: stage
