apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namespace: litomi-stg

resources:
  - ../../base
  - ingress.yaml

configMapGenerator:
  - name: litomi-public-env
    literals:
      - NEXT_PUBLIC_BACKEND_URL=https://api-stg.litomi.in
      - NEXT_PUBLIC_CANONICAL_URL=https://stg.litomi.in
      - NEXT_PUBLIC_CORS_PROXY_URL=https://image.gwak2837.workers.dev
      - NEXT_PUBLIC_EXTERNAL_API_PROXY_URL=https://vercel-stg.litomi.in
      - NEXT_PUBLIC_GA_ID=
      - NEXT_PUBLIC_IOS_TESTFLIGHT_URL=
      - NEXT_PUBLIC_SENTRY_DSN=
      - NEXT_PUBLIC_TURNSTILE_SITE_KEY=0x4AAAAAAB0XpySA9SHK_Nuy
      - NEXT_PUBLIC_VAPID_PUBLIC_KEY=BCQA2zloAhzL0J3hjB7RTBj9uoG3ZR6elL2kJlrbwZRKw5f4sap5g8AyUsnuDpU49fODsI8icA4o6mu42GmjD3A

  - name: litomi-common-env
    literals:
      - REDIS_URL=redis://redis:6379

  - name: litomi-backend-env
    literals:
      - CORS_ORIGIN=https://stg.litomi.in

images:
  - name: litomi-web
    newName: ghcr.io/gwak2837/litomi-web
    newTag: stg
  - name: litomi-backend
    newName: ghcr.io/gwak2837/litomi-backend
    newTag: stg

patches:
  # Base가 Namespace `litomi`를 만들도록 되어 있어서, staging에서는 이름만 바꿔서 재사용해요.
  - target:
      kind: Namespace
      name: litomi
    patch: |-
      - op: replace
        path: /metadata/name
        value: litomi-stg
